@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.border_btn, .border_btn::after, .btn_more, .btn_more::after, .head, .news_item, .news_item_date::before, .about_link_item, .about_link_item::before, .alert, .alert_musicBtn::before, .page_detail_front, .page_detail_next, .page_detail_all, .page_detail_front img, .page_detail_next img, .page_detail_all::before {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.border_btn, .btn_more, .logo, .nav_item, .link li, .about_link_item, .music_item, .page_item, .page_next, .page_detail_front, .page_detail_next, .page_detail_all {
  cursor: pointer;
}

h2 {
  font-weight: 500;
  font-size: 48px;
  line-height: 98px;
}

h2.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: 2px solid #352d39;
}

h2.title:after {
  content: attr(data-txt);
  padding-bottom: 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

h2.titleSec {
  position: relative;
  text-align: center;
}

h2.titleSec::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  margin: auto 0;
  background-color: #352d39;
}

h2.titleSec .tw {
  position: relative;
  display: inline-block;
  padding: 0 46px;
  background-color: #fff;
}

h2.titleSec .en {
  position: absolute;
  top: 88px;
  left: 0;
  right: 0;
  margin: auto;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.contact h2 {
  max-width: 430px;
  margin: auto;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.wrap._newsDetail {
  padding-top: 71px;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.border_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  border: 1px solid #352d39;
  margin: auto;
  padding: 14px 0;
  border-radius: 4px;
}

.music .border_btn {
  width: 100%;
  max-width: 434px;
}

.contact .border_btn {
  width: 100%;
  max-width: 430px;
  margin-top: 42px;
}

.border_btn::after {
  content: "";
  display: block;
  width: 30px;
  height: 6px;
  margin-left: 16px;
  background: url("../../images/icon_more.svg") no-repeat center/contain;
  -webkit-filter: invert(10%) sepia(26%) saturate(673%) hue-rotate(236deg) brightness(97%) contrast(80%);
          filter: invert(10%) sepia(26%) saturate(673%) hue-rotate(236deg) brightness(97%) contrast(80%);
}

.border_btn._unClick {
  pointer-events: none;
  color: #897e8e;
  border-color: #897e8e;
}

.border_btn._unClick:after {
  -webkit-filter: invert(59%) sepia(8%) saturate(508%) hue-rotate(237deg) brightness(85%) contrast(91%);
          filter: invert(59%) sepia(8%) saturate(508%) hue-rotate(237deg) brightness(85%) contrast(91%);
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .border_btn:hover {
    background-color: #352d39;
    color: #fdfdfd;
  }
  .border_btn:hover::before, .border_btn:hover::after {
    -webkit-filter: invert(99%) sepia(1%) saturate(758%) hue-rotate(317deg) brightness(117%) contrast(98%);
            filter: invert(99%) sepia(1%) saturate(758%) hue-rotate(317deg) brightness(117%) contrast(98%);
  }
}

.border_btn:active {
  background-color: #352d39;
  color: #fdfdfd;
}

.border_btn:active::before, .border_btn:active::after {
  -webkit-filter: invert(99%) sepia(1%) saturate(758%) hue-rotate(317deg) brightness(117%) contrast(98%);
          filter: invert(99%) sepia(1%) saturate(758%) hue-rotate(317deg) brightness(117%) contrast(98%);
}

.btn_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

.btn_more::after {
  content: "";
  display: block;
  width: 30px;
  height: 6px;
  margin-left: 16px;
  background: url("../../images/icon_more.svg") no-repeat center/contain;
  -webkit-filter: invert(10%) sepia(26%) saturate(673%) hue-rotate(236deg) brightness(97%) contrast(80%);
          filter: invert(10%) sepia(26%) saturate(673%) hue-rotate(236deg) brightness(97%) contrast(80%);
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .btn_more:hover {
    color: #897e8e;
  }
  .btn_more:hover::after {
    -webkit-filter: invert(59%) sepia(8%) saturate(508%) hue-rotate(237deg) brightness(85%) contrast(91%);
            filter: invert(59%) sepia(8%) saturate(508%) hue-rotate(237deg) brightness(85%) contrast(91%);
  }
}

.btn_more:active {
  color: #897e8e;
}

.btn_more:active::after {
  -webkit-filter: invert(59%) sepia(8%) saturate(508%) hue-rotate(237deg) brightness(85%) contrast(91%);
          filter: invert(59%) sepia(8%) saturate(508%) hue-rotate(237deg) brightness(85%) contrast(91%);
}

.head {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 71px;
  padding: 0 40px;
}

.scroll .head,
._newsDetail .head {
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
  position: relative;
  display: inline-block;
  width: 131px;
  margin-right: 75px;
}

.logo_img1 {
  opacity: 1;
}

.scroll .logo_img1,
._newsDetail .logo_img1 {
  opacity: 0;
}

.logo_img2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.scroll .logo_img2,
._newsDetail .logo_img2 {
  opacity: 1;
}

.footer .logo {
  margin-right: 22px;
}

.nav {
  color: #fff;
}

.scroll .nav,
._newsDetail .nav {
  color: #352d39;
}

.nav_item + .nav_item {
  margin-left: 50px;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.footer .link {
  margin-left: 0;
}

.head .link li {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.scroll .link li,
.footer .link li,
._newsDetail .link li {
  -webkit-filter: invert(15%) sepia(12%) saturate(892%) hue-rotate(236deg) brightness(96%) contrast(89%);
          filter: invert(15%) sepia(12%) saturate(892%) hue-rotate(236deg) brightness(96%) contrast(89%);
}

.link li + li {
  margin-left: 30px;
}

.footer .link li + li {
  margin-left: 16px;
}

.link .facebook,
.link .spotify,
.link .apple_music {
  width: 18px;
  height: 18px;
}

.link .youtube {
  width: 23px;
  height: 16px;
}

.banner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(-47.42%, rgba(27, 12, 34, 0.6)), color-stop(26.81%, rgba(27, 12, 34, 0.482768)), color-stop(64.61%, rgba(27, 12, 34, 0.336234)), color-stop(102.41%, rgba(27, 12, 34, 0)));
  background: linear-gradient(90deg, rgba(27, 12, 34, 0.6) -47.42%, rgba(27, 12, 34, 0.482768) 26.81%, rgba(27, 12, 34, 0.336234) 64.61%, rgba(27, 12, 34, 0) 102.41%);
}

.banner_box {
  position: absolute;
  width: 400px;
}

.banner_txt {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.2em;
  line-height: 34px;
}

.banner_scroll {
  position: absolute;
  bottom: 64px;
  left: 0;
  right: 0;
  width: 92px;
  margin: auto;
  text-align: center;
}

.banner_scroll img {
  width: 24px;
}

.banner_scroll:after {
  content: attr(data-txt);
  display: block;
  margin-top: 14px;
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  font-family: "Nothing You Could Do";
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
  padding: 0 50px;
  background-color: #fdfdfd;
  -webkit-box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.25);
}

.footer .logo {
  width: 117px;
}

.footer_connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 58px;
  color: #352d39;
}

.footer_connection li {
  padding-right: 10px;
  font-size: 16px;
  line-height: 23px;
}

.footer_connection .info {
  border-right: 1px solid #353535;
}

.footer_connection .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 14px;
}

.footer_connection .address::before {
  content: "";
  display: block;
  width: 13px;
  height: 16px;
  margin-right: 9px;
  background: url("../../images/icon_map.svg") no-repeat center/contain;
}

.footer_connection .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 14px;
}

.footer_connection .phone::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  margin-right: 9px;
  background: url("../../images/icon_phone.svg") no-repeat center/contain;
}

.footer_copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #897e8e;
  margin-left: auto;
}

.footer_copyright::before {
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  margin-right: 9px;
  background: url("../../images/icon_copyright.svg") no-repeat center/contain;
  -webkit-filter: invert(56%) sepia(8%) saturate(523%) hue-rotate(237deg) brightness(90%) contrast(89%);
          filter: invert(56%) sepia(8%) saturate(523%) hue-rotate(237deg) brightness(90%) contrast(89%);
}

.picBox {
  position: relative;
}

.picBox::before {
  content: "";
  position: absolute;
  top: -45px;
  right: 0;
  display: block;
  width: 90%;
  height: calc(100% + 71px);
  background-color: #f5f2f0;
}

.about .picBox::before {
  top: -48px;
  left: 0;
  right: auto;
  height: calc(100% + 118px);
}

.news .picBox {
  width: 40%;
  max-width: 480px;
  min-width: 360px;
}

.about .picBox {
  width: 50%;
}

.picBox img {
  position: relative;
}

.news .txtBox {
  width: 60%;
  padding-right: 66px;
}

.about .txtBox {
  width: 50%;
  padding: 0 140px 0 65px;
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 65px 0 94px 140px;
}

.news_item {
  padding: 30px 0;
  border-bottom: 1px solid #897e8e;
}

.news_list .news_item {
  width: calc(100% - 236px - 46px);
  padding: 0;
  border-bottom: none;
}

._newsDetail .news_item {
  width: 100%;
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .wrap:not(._newsDetail) .news_item:hover {
    color: #897e8e;
  }
  .wrap:not(._newsDetail) .news_item:hover .news_item_date::before {
    background-color: #897e8e;
  }
}

.wrap:not(._newsDetail) .news_item:active {
  color: #897e8e;
}

.wrap:not(._newsDetail) .news_item:active .news_item_date::before {
  background-color: #897e8e;
}

.news_item_date {
  font-size: 20px;
  line-height: 23px;
}

.news_item_date::before {
  content: attr(data-txt);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 115px;
  height: 35px;
  margin-right: 20px;
  background-color: #352d39;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}

.news_item_title {
  overflow: hidden;
  margin-top: 14px;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.news_list .news_item_title {
  margin-top: 12px;
}

._newsDetail .news_item_title {
  margin-top: 17px;
  font-size: 36px;
  line-height: 51.73px;
}

.news_item_info {
  width: 100%;
  margin-top: 14px;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
}

.news_list .news_item_info {
  margin-top: 12px;
}

._newsDetail .news_item_info {
  margin-top: 40px;
}

.news_item_info span {
  overflow: hidden;
  display: block;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.news_list .news_item_info span {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: inherit;
  line-height: 32px;
}

.news_item_more {
  padding-top: 30px;
}

.news_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  padding: 40px 0;
  border-bottom: 1px solid #897e8e;
}

._newsDetail .news_list {
  padding-top: 70px;
}

.news_pic {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 236px;
  margin-right: 46px;
}

._newsDetail .news_pic {
  width: 100%;
  margin-top: 40px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 88px;
  padding-bottom: 83px;
}

.about_detail {
  padding-top: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0.05em;
}

.about_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.about_link_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 46px;
  font-size: 24px;
  line-height: 49px;
  border-bottom: 1px solid #352d39;
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .about_link_item:hover {
    border-color: #897e8e;
    color: #897e8e;
  }
  .about_link_item:hover::before {
    -webkit-filter: invert(59%) sepia(8%) saturate(508%) hue-rotate(237deg) brightness(85%) contrast(91%);
            filter: invert(59%) sepia(8%) saturate(508%) hue-rotate(237deg) brightness(85%) contrast(91%);
  }
}

.about_link_item:active {
  border-color: #897e8e;
  color: #897e8e;
}

.about_link_item:active::before {
  -webkit-filter: invert(59%) sepia(8%) saturate(508%) hue-rotate(237deg) brightness(85%) contrast(91%);
          filter: invert(59%) sepia(8%) saturate(508%) hue-rotate(237deg) brightness(85%) contrast(91%);
}

.about_link_item::before {
  content: "";
  display: block;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.about_link_item._web::before {
  width: 32px;
  height: 32px;
  background-image: url("../../images/icon_web.svg");
}

.about_link_item._fb::before {
  width: 28px;
  height: 28px;
  background-image: url("../../images/icon_facebook.svg");
}

.about_link_item + .about_link_item {
  margin-left: 45px;
}

.music {
  position: relative;
  width: 100%;
  padding-top: 48px;
  padding-bottom: 70px;
}

.music::before {
  content: "";
  position: absolute;
  top: 330px;
  display: block;
  width: 100%;
  height: 60%;
  margin: auto 0;
  background-color: #f5f2f0;
}

.music_group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 73px;
}

.music_item {
  width: calc(100% / 3 - 160px / 3);
  margin-bottom: 60px;
  text-align: center;
}

.music_item_name {
  margin-top: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
}

.music_item_info {
  margin-top: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #897e8e;
}

.music_item._full {
  position: relative;
  width: 100%;
  margin-top: 40px;
}

.music_item._full:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 80px;
  height: 80px;
  margin: auto;
  background: url("../../images/icon_play.svg") no-repeat center/contain;
}

.music_btn {
  width: 100%;
  max-width: 434px;
}

.contact {
  position: relative;
  padding-right: 76px;
  padding-top: 56px;
  padding-bottom: 47px;
}

.contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: url("../../images/contact_bg.jpg") no-repeat left/cover;
}

.contact_box {
  position: relative;
  width: 100%;
  max-width: 694px;
  margin-left: auto;
  padding: 20px 0 70px;
  background: #fdfdfd;
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}

.contact_info {
  position: relative;
  width: 100%;
  max-width: 430px;
  margin-top: 26px;
  margin: 26px auto 0;
}

.contact_info:nth-child(2) {
  margin-top: 20px;
}

.contact_info span {
  display: inline-block;
  width: 100%;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
}

.contact_info span:after {
  content: "*";
  color: #b076cd;
}

.contact_info._err:after {
  content: "Error message";
  display: block;
  margin-top: 8px;
  color: #ee2424;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  white-space: nowrap;
}

.contact_inp {
  width: 100%;
  max-width: 430px;
  height: 46px;
  padding: 0 14px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  border: 1px solid #897e8e;
  border-radius: 5px;
}

.contact_inp::-webkit-input-placeholder {
  color: #897e8e;
  opacity: 1;
  /* Firefox */
}

.contact_inp:-ms-input-placeholder {
  color: #897e8e;
  opacity: 1;
  /* Firefox */
}

.contact_inp::-ms-input-placeholder {
  color: #897e8e;
  opacity: 1;
  /* Firefox */
}

.contact_inp::placeholder {
  color: #897e8e;
  opacity: 1;
  /* Firefox */
}

.contact_inp:-ms-input-placeholder {
  color: #897e8e;
}

.contact_inp::-ms-input-placeholder {
  color: #897e8e;
}

.contact_inp:focus {
  border-color: #352d39;
}

._err .contact_inp {
  border-color: #ee2424;
}

.contact_textarea {
  width: 100%;
  height: 150px;
  max-width: 430px;
  padding: 8px 14px;
  resize: none;
  border: 1px solid #897e8e;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
}

.contact_textarea::-webkit-input-placeholder {
  color: #897e8e;
  opacity: 1;
  /* Firefox */
}

.contact_textarea:-ms-input-placeholder {
  color: #897e8e;
  opacity: 1;
  /* Firefox */
}

.contact_textarea::-ms-input-placeholder {
  color: #897e8e;
  opacity: 1;
  /* Firefox */
}

.contact_textarea::placeholder {
  color: #897e8e;
  opacity: 1;
  /* Firefox */
}

.contact_textarea:-ms-input-placeholder {
  color: #897e8e;
}

.contact_textarea::-ms-input-placeholder {
  color: #897e8e;
}

.contact_textarea:focus {
  border-color: #352d39;
}

.ablum {
  padding-top: 86px;
  padding-bottom: 40px;
}

.ablum_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.ablum_item {
  width: calc(100% / 4);
}

.alert {
  z-index: 1;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.alert._show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alert._active {
  opacity: 1;
}

.alert_box {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 66px 68px;
  background: #f5f2f0;
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.alert_box._contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px 40px 20px;
  border-radius: 10px;
}

.alert_close {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background-color: #352d39;
}

.alert_close::before, .alert_close::after {
  content: "";
  position: absolute;
  display: block;
  width: 28px;
  height: 1px;
  background-color: #f5f2f0;
}

.alert_close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.alert_close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.alert_musicPic {
  width: 284px;
  height: 284px;
  margin-right: 50px;
}

.alert_musicTxt {
  min-width: 320px;
}

.alert_musicTxt_title {
  padding-bottom: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.1em;
  border-bottom: 1px solid #352d39;
}

.alert_musicTxt_title:after {
  content: attr(data-txt);
  display: block;
  margin-top: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.05em;
  color: #897e8e;
}

.alert_musicBtn {
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px 20px;
  margin-top: 18px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}

.alert_musicBtn._spotify::before {
  width: 24px;
  height: 24px;
  background-image: url("../../images/icon_spotify.svg");
  background-size: contain;
}

.alert_musicBtn._am::before {
  width: 24px;
  height: 24px;
  background-image: url("../../images/icon_apple_music.svg");
  background-size: 22px 22px;
}

.alert_musicBtn._sheet::before {
  width: 24px;
  height: 24px;
  background-image: url("../../images/icon_music_sheet.svg");
  background-size: 15px 18px;
}

.alert_musicBtn::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.alert_musicBtn::after {
  margin-left: auto;
}

.alert_contactPic {
  width: 24px;
  height: 21px;
}

.alert_contactTxt {
  margin-top: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding-top: 30px;
  padding-bottom: 70px;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-top: 36px;
}

.page_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.page_item._on {
  background-color: #352d39;
  color: #fff;
  pointer-events: none;
}

.page_item + .page_item {
  margin-left: 14px;
}

.page_next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36px;
  height: 32px;
  margin-left: 14px;
}

.page_next img {
  height: 12px;
}

.page_detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 51px;
  margin-top: 40px;
}

.page_detail img {
  height: 12px;
}

.page_detail_front, .page_detail_next, .page_detail_all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page_detail_front img {
  width: 30px;
  margin-right: 14px;
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .page_detail_front:hover {
    color: #897e8e;
  }
  .page_detail_front:hover img {
    -webkit-filter: invert(59%) sepia(8%) saturate(508%) hue-rotate(237deg) brightness(85%) contrast(91%);
            filter: invert(59%) sepia(8%) saturate(508%) hue-rotate(237deg) brightness(85%) contrast(91%);
  }
}

.page_detail_front:active {
  color: #897e8e;
}

.page_detail_front:active img {
  -webkit-filter: invert(59%) sepia(8%) saturate(508%) hue-rotate(237deg) brightness(85%) contrast(91%);
          filter: invert(59%) sepia(8%) saturate(508%) hue-rotate(237deg) brightness(85%) contrast(91%);
}

.page_detail_next img {
  width: 30px;
  margin-left: 14px;
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .page_detail_next:hover {
    color: #897e8e;
  }
  .page_detail_next:hover img {
    -webkit-filter: invert(59%) sepia(8%) saturate(508%) hue-rotate(237deg) brightness(85%) contrast(91%);
            filter: invert(59%) sepia(8%) saturate(508%) hue-rotate(237deg) brightness(85%) contrast(91%);
  }
}

.page_detail_next:active {
  color: #897e8e;
}

.page_detail_next:active img {
  -webkit-filter: invert(59%) sepia(8%) saturate(508%) hue-rotate(237deg) brightness(85%) contrast(91%);
          filter: invert(59%) sepia(8%) saturate(508%) hue-rotate(237deg) brightness(85%) contrast(91%);
}

.page_detail_all {
  width: 296px;
}

.page_detail_all::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 14px;
  background: url("../../images/icon_allNews.svg") no-repeat center/contain;
}

.page_detail_all::after {
  display: none;
}
/*# sourceMappingURL=all.css.map */